XsdTest/Schema/client.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="Clients">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Client" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:choice>
								<xs:element name="id" type="xs:int" minOccurs="0"/>
								<xs:element name="_id" type="xs:int" minOccurs="0"/>
							</xs:choice>
							<xs:element name="name" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
